<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="details-section">
    <article>
        <h2>Get creative during Covid19</h2>

    </article>
    <article>
        <ol>
            <li>Learn how to code</li>
            <li>Read a nice book</li>
            <li>Creative writing</li>
            <li>Photography</li>
        </ol>
    </article>
    <article class="focus-desc">
        <h3 id="important-data">Important datasets</h3>
        <ul>
            <li>Humidity</li>
            <li>Temperatures</li>
            <li>Nitrogenoxide </li>
            <li>Carbondioxide </li>
        </ul>
    </article>
</section>
</body>
</html>