<!DOCTYPE HTML PUBLIC>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css">
        <title>CovA - how the world is changing under Covid19.</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="./../core/location_module.js"></script>
        <script type="text/javascript" src="./../core/auto_module.js"></script>
    </head>
<body>
    <nav>
        <img id="logo" src="../assets/img/logo.png">
        <section id="nav-elems">
            <a href="index.html">Home</a>
            <a href="statistics.html">Statistics</a>
            <a href="about.html">About CovA</a>
            <article id="current-details-wrapper">
                <div id="country-name-wrapper">
                    <p id="country-name"></p>
                </div>
                <div id="deaths-total-wrapper">
                    <p id="deaths-total"></p>
                </div>
                <div id="infected-total-wrapper">
                    <p id="infected-total"></p>
                </div>
            </article>
        </section>
    </nav>
    <main>
        <section class="hero-shot">
            <article id="hero-text">
                <h1 id="hero-heading" class="slim-heading">The world is <span id="anim-text">changing</span> once again.</h1>
                <h2 class="slim-heading">Explore how Covid19 affected both daily lives and the global climate.</h2>
                <div class="cta">
                    <a href="#hero-info" class="cta-text">What has changed?</a>
                </div>
            </article>
        </section>
        <section class="hero-info" id="hero-info">
            <h2 class="big-heading">Environmental changes</h2>
            <article>
                <div>
                    <
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-details">
            <h3>Hackathon 2020</h3>
        </div>
        <div class="footer-details">
            <h3>About</h3>
        </div>
        <div class="footer-details">
            <h3>Github</h3>
        </div>
        <div class="footer-details">
            <h3>Feedback</h3>
        </div>
        <div id = "footer">
        </div>
    </footer>
</body>
</html>