<!DOCTYPE HTML PUBLIC>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css">
        <title>CovA - how the world is changing under Covid19.</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="./../core/location_module.js"></script>
        <script type="text/javascript" src="./../core/auto_module.js"></script>
        <script type="text/javascript" src="./../core/interaction_module.js"></script>
        <script type="text/javascript" src="./../core/chart_module.js"></script>
        <script src="./../core/chart.js/dist/Chart.js"></script>
        <script src="https://kit.fontawesome.com/67874e0ff8.js" crossorigin="anonymous"></script>
    </head>
<body>
    <nav>
        <img id="logo" src="../assets/img/logo.png">
        <section id="nav-elems">
            <a href="index.html">Home</a>
            <a href="statistics.html">Statistics</a>
            <a href="about.html">About CovA</a>
            <article id="current-details-wrapper">
                <div id="co-details-preview" onclick="showCoDetails()">
                    <i id="virus" class="fas fa-virus"></i>
                </div>
            </article>
        </section>
    </nav>
    <main>
        <section class="hero-shot">
            <article id="hero-text">
                <h1 id="hero-heading" class="slim-heading">The world is <span id="anim-text">changing</span> once again.</h1>
                <h2 class="slim-heading">Explore how Covid19 affected both daily lives and the global climate.</h2>
                <div class="cta">
                    <a href="#hero-info" class="cta-text">What has changed?</a>
                </div>
            </article>
        </section>
        <section class="hero-info" id="hero-info">
            <h2 class="big-heading">Fundamental changes</h2>
            <article class="details-wrapper">
                <div class="focus-wrapper">
                    <i class="fas fa-plane"></i>
                    <h3>Travel restrictions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
                <div class="focus-wrapper">
                    <i class="fas fa-route"></i>
                    <h3>Social distancing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
                <div class="focus-wrapper">
                    <i class="far fa-lightbulb"></i>
                    <h3>Energy consumption</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
            </article>
        </section>
        <section id="data-explorer">
            <article id="map">
                <div id="open">
                    <a id="toggle-map" onclick="toggleMap(this)">Explore the map</a>
                </div>
                <div id="data-explorer-wrapper">
                    <a id="left-control" class="month-controls" onclick=next()><</a>
                    <img id="data-explorer-mock" src="./../assets/img/sample-1.jpg">
                    <a id="right-control" class="month-controls" onclick="next()">></a>
                </div>
                <div id="controll-bar">
                    <a id="carbon" class="control-bar-item">Carbondioxide</a>
                    <a id="nitrogen" class="control-bar-item">Nitrogenoxide</a>
                    <a id="humidity" class="control-bar-item">Humidity</a>
                    <a id="temperatures" class="control-bar-item">Temperatures</a>
                </div>
            </article>
        </section>
        <section class="info-section" id="map-section">
            <article class="focus-desc">
                <h3 id="important-data">Important datasets</h3>
                <p class="long-text-slim">Our atmosphere can tell us a lot about climate change and climate in general. During lockdown some parameters were especially interesting to observe.</p>
                <i class="fas fa-caret-down" class="cta-arrow" id="cta-arrow" onclick="extendSection(true)"></i>
                <div id="datasets-wrapper">
                    <div class="focus-wrapper">
                        <i class="fas fa-cloud-rain"></i>
                        <h3>Humidity</h3>
                    </div>
                    <div class="focus-wrapper">
                        <i class="fas fa-industry"></i>
                        <h3>Nitrogenoxide</h3>

                    </div>
                    <div class="focus-wrapper">
                        <i class="fas fa-car"></i>
                        <h3>Carbondioxide</h3>

                    </div>
                    <div class="focus-wrapper">
                        <i class="fas fa-temperature-high"></i>
                        <h3>Temperature</h3>

                    </div>
                    <i class="fas fa-caret-up" class="cta-arrow" onclick="extendSection(false)"></i>
                </div>
            </article>
        </section>
        <section class="details-section">
            <article>
                <h2>Get creative during Covid19</h2>

            </article>
            <article>
                <ol>
                    <li>Learn how to code</li>
                    <li>Read a nice book</li>
                    <li>Creative writing</li>
                    <li>Photography</li>
                </ol>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-details">
            <h3>Hackathon 2020</h3>
        </div>
        <div class="footer-details">
            <h3>About</h3>
        </div>
        <div class="footer-details">
            <h3>Github</h3>
        </div>
        <div class="footer-details">
            <h3>Feedback</h3>
        </div>
        <div id = "footer">
        </div>
    </footer>
</body>
</html>