<!DOCTYPE HTML PUBLIC>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css">
        <title>CovA - how the world is changing under Covid19.</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="./../core/location_module.js"></script>
        <script type="text/javascript" src="./../core/auto_module.js"></script>
        <script type="text/javascript" src="./../core/interaction_module.js"></script>
        <script type="text/javascript" src="./../core/chart_module.js"></script>
        <script src="./../core/chart.js/dist/Chart.js"></script>
        <script src="https://kit.fontawesome.com/67874e0ff8.js" crossorigin="anonymous"></script>
    </head>
<body>
    <nav>
        <img id="logo" src="../assets/img/logo.png">
        <section id="nav-elems">
            <a href="index.html">Home</a>
            <a href="statistics.html">Statistics</a>
            <a href="about.html">About CovA</a>
            <article id="current-details-wrapper">
                <div id="co-details-preview" onclick="showCoDetails()">
                    <i id="virus" class="fas fa-virus"></i>
                </div>
            </article>
        </section>
    </nav>
    <main>
        <section class="hero-shot">
            <article id="hero-text">
                <h1 id="hero-heading" class="slim-heading">The world is <span id="anim-text">changing</span> once again.</h1>
                <h2 class="slim-heading">Explore how Covid19 affected both daily lives and the global climate.</h2>
                <div class="cta">
                    <a href="#hero-info" class="cta-text">What has changed?</a>
                </div>
            </article>
        </section>
        <section class="hero-info" id="hero-info">
            <h2 class="big-heading">Fundamental changes</h2>
            <article class="details-wrapper">
                <div class="focus-wrapper">
                    <i class="fas fa-plane"></i>
                    <h3>Travel restrictions</h3>
                    <p>Due to worldwide travel restrictions almost 80% of flight traffic was cut</p>
                </div>
                <div class="focus-wrapper">
                    <i class="fas fa-route"></i>
                    <h3>Social distancing</h3>
                    <p>Due to worldwide travel restrictions grey cities suddenly turned green and the skies blue.</p>
                </div>
                <div class="focus-wrapper">
                    <i class="far fa-lightbulb"></i>
                    <h3>Energy consumption</h3>
                    <p>Due to worldwide travel restrictions grey cities suddenly turned green and the skies blue.</p>
                </div>
            </article>
        </section>
        <section class="info-section">
            <article class="focus-desc">
                <h2 class="big-heading">Environmental impacts</h2>
                <h3>Energy consumption</h3>
                <p>Due to worldwide travel restrictions grey cities suddenly turned green and the skies blue.</p>
            </article>
            <article>
                <div class="focus-wrapper">
                    <table class="table" id="dataTable">
                        <thead>
                            <th>Month</th>
                            <th>N0</th>
                            <th>CO2</th>
                            <th>Avg. °C</th>
                        </thead>
                        <tbody>
                        <tr class="month">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="month">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="month">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="month">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
        <section class="details-section">
            <article>
                <h2>Get creative during Covid19</h2>

            </article>
            <article>
                <ol>
                    <li>Learn how to code</li>
                    <li>Read a nice book</li>
                    <li>Creative writing</li>
                    <li>Photography</li>
                </ol>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-details">
            <h3>Hackathon 2020</h3>
        </div>
        <div class="footer-details">
            <h3>About</h3>
        </div>
        <div class="footer-details">
            <h3>Github</h3>
        </div>
        <div class="footer-details">
            <h3>Feedback</h3>
        </div>
        <div id = "footer">
        </div>
    </footer>
</body>
</html>