html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #28323B;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100vw;
    background-color: #28323B;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

main {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4 {
    font-size: 18px;
}

.fas, .far, .fab {
    font-size: 60px;
}

.long-text-slim {
    width: 60%;
    margin-bottom: 25px;
}

.cta-arrow {
    cursor: pointer;
}

#virus {
    color: white;
    font-size: 20px;
}

.big-heading {
    font-size: 42px;
    margin-bottom: 10px;
    margin-top: 45px;
}

.details-wrapper {
    display: flex;
    margin-top: 35px;
    width: 90vw;
    justify-content: center;
}

.co-details-wrapper {
    margin-right: 10px;
    display: flex;
}

.co-details-highlight {
    margin-left: 5px;
}

#map {
    width: 60vw;
}

#co-details-preview {
    cursor: pointer;
}

.co-details-parent {
    display: contents;
    position: fixed;
    background-color: crimson;
    z-index: 101;
}

.info-section {
    background: url("./../img/hero-shot-slim.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    border-radius: 0px 0px 25px 25px;
}

.info-section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-arrow {
    cursor: pointer;
}

#data-explorer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#cta-arrow {
    display: flex;
    cursor: pointer;
}

#datasets-wrapper, #economics-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-details-wrapper {
    display: flex;
    width: 100vw;
    background-color: white;
    padding: 45px 0px 45px 0px;
    justify-content: center;
    align-items: center;
}

.icon-details-wrapper div i, icon-details-wrapper div H3 {
    color: crimson;
}

.details-section {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.fact-paragraph {
    font-weight: 800;
    font-size: 80px;
    animation: fact-color 50s infinite;
    margin-bottom: 0px;
    margin-top: 20px;
}

.fact {
    margin-top: 0px;
    font-weight: 500;
}

#important-data, #important-economical-data {
    margin-bottom: 0px;
}

@keyframes fact-color {
    0% { color: black; }
    25% { color: crimson; }
    100% { color: black; }
}

.focus-desc ul {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    margin:0 0 1.5em;
    padding:0;
    counter-reset:item;
}

.focus-desc h3 {
    text-align: center;
    font-size: 42px;
}

.vertical-details {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-bottom: 25px;
}

.result-item-context {
    background-color: crimson;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

ul>li {
    margin:0;
    padding:0 0 0 2em;
    text-indent:-2em;
    list-style-type:none;
    counter-increment:item;
}

ul > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

#co-details-parent h4{
    margin: 0px 10px 0px 10px;
    color: white;
}

#anim-text {
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% { color: #ffe373; }
    50% { color: #fd5e53; }
    75% { color: #fc9c54; }
    100% { color: #ffe373; }
}

@keyframes color-change-btn {
    0% { border-color: #ffe373; }
    50% { border-color: #fd5e53; }
    75% { border-color: #fc9c54; }
    100% { border-color: #ffe373; }
}

.opt-in-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: crimson;
    border: 2px solid crimson;
    z-index: 10;
    padding: 10px;
    border-radius: 80px;
    cursor: pointer;
}

.opt-in-heading {
    color: white;
    font-family: Montserrat;
}

.month-controls {
    color: white;
    background-color: darkgrey;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.month-controls:hover {
    background-color: lightgrey;
}

#data-explorer-wrapper {
    display: none;
}

#data-explorer-mock {
    width: 70vw;
}

#hero-heading {
    font-size: 58px;
    color: white;
}

#controll-bar {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.control-bar-item {
    background-color: crimson;
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 30%;
    text-align: center;
}

#carbon {
    background-color: deepskyblue;
}

#carbon:hover {
    background-color: dodgerblue;
}

#nitrogen {
    background-color: mediumseagreen;
}

#nitrogen:hover {
    background-color: seagreen;
}

#humidity {
    background-color: darkcyan;
}

#humidity:hover {
    background-color: darkolivegreen;
}

.control-bar-item:hover {
    background-color: #9C1A1C;
}

#hero-text {
    margin-left: 10vw;
    margin-top: 10vw;
}

#open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -1;
    cursor: pointer;
    color: white;
}

#hero-text h2 {
    font-size: 18px;
}

#hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background-color: ghostwhite;
    width: 100vw;
    padding-bottom: 55px;
}

.focus-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus-wrapper p {
    width: 60%;
    text-align: center;
}

.hero-shot {
    background: url("./../img/hero-shot.jpg");
    background-size: auto;
    width: 100vw;
    height: 60vh;
}

.simple-info-section {
    border-radius: 25px;
    margin: 70px 0px 100px 0px;
}

.hero-shot-small {
    background: url("./../img/hero-shot.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 38vh;
}

.slim-heading {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: ghostwhite;
    font-weight: 400;
}

.footer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    font-family: Montserrat;
    color: white;
    margin-top: 80px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid crimson;
    cursor: pointer;
    width: 200px;
    height: 35px;
    animation: color-change-btn 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-small {
    font-family: Montserrat;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid crimson;
    cursor: pointer;
    width: 200px;
    height: 35px;
    animation: color-change-btn 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#current-details-wrapper {
    background-color: crimson;
    display: flex;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-details-wrapper div p {
    color: white;
}

.cta-text {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.cta-text-small {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

#nav-elems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-elems a {
    margin: 0px 10px 0px 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#nav-elems a:hover {
    color: #FE2B43;
}

a {
    text-decoration: none;
}

#economics-explorer {
    width: 100vw;
    background: url("./../img/pattern.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#map-section {
    margin-bottom: 45px;
}

#prompt-container {
    font-family: Montserrat;
    position: fixed;
    top: 20vh;
    left: 35vw;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 15px;
    color: white;
    z-index: 100;
    box-shadow: 0px 0px 500px black;
}

#search-bar-wrapper {
    margin-bottom: 8%;
    margin-top: 2%;
}

#searchbar {
    width: 100%;
    border: none;
    height: 35px;
    border-radius: 5px;
    font-family: Montserrat;
    padding: 10px;
}

#logo {
    width: 70px;
}

.skip-btn {
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip-btn:hover {
    background-color: transparent;
}

#creative-details {
    width: 100vw;
    background: url("./../img/pattern.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
    color: crimson;
}

#creative-details article ol {
    font-size: 20px;
}

.submit-btn {
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.submit-btn:hover {
    border: 2px solid white;
    color: crimson;
    background-color: white;
}

#btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

