html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #28323B;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100vw;
    background-color: #28323B;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

main {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fas, .far {
    font-size: 60px;
}

#virus {
    color: white;
    font-size: 20px;
}

.big-heading {
    font-size: 42px;
}

.details-wrapper {
    display: flex;
    margin-top: 25px;
    width: 90vw;
}

.co-details-wrapper {
    margin-right: 10px;
}

#co-details-preview {
    cursor: pointer;
}

.co-details-parent {
    display: contents;
    position: fixed;
    background-color: crimson;
    z-index: 101;
}

.info-section {
    background-color: crimson;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    animation: background-color-change 10s infinite;
}

.details-section {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.focus-desc {

}

@keyframes background-color-change {
    0% { background-color: ghostwhite; }
    50% { background-color: lightblue; }
    100% { background-color: ghostwhite; }
}

#co-details-parent h4{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

#anim-text {
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% { color: #ffe373; }
    50% { color: #fd5e53; }
    75% { color: #fc9c54; }
    100% { color: #ffe373; }
}

@keyframes color-change-btn {
    0% { border-color: #ffe373; }
    50% { border-color: #fd5e53; }
    75% { border-color: #fc9c54; }
    100% { border-color: #ffe373; }
}

.opt-in-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: crimson;
    border: 2px solid crimson;
    z-index: 10;
    padding: 10px;
    border-radius: 80px;
    cursor: pointer;
}

.opt-in-heading {
    color: white;
    font-family: Montserrat;
}

#hero-heading {
    font-size: 58px;
    color: white;
}

#hero-text {
    margin-left: 10vw;
    margin-top: 10vw;
}

#hero-text h2 {
    font-size: 18px;
}

#hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.focus-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus-wrapper p {
    width: 70%;
    text-align: center;
}

.hero-shot {
    background: url("./../img/hero-shot.jpg");
    background-size: auto;
    width: 100vw;
    height: 60vh;
}

.hero-shot-small {
    background: url("./../img/hero-shot.jpg");
    background-size: auto;
    width: 100vw;
    height: 35vh;
}

.slim-heading {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: ghostwhite;
    font-weight: 400;
}

.footer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    font-family: Montserrat;
    color: white;
    margin-top: 80px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid crimson;
    cursor: pointer;
    width: 200px;
    height: 35px;
    animation: color-change-btn 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-small {
    font-family: Montserrat;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid crimson;
    cursor: pointer;
    width: 200px;
    height: 35px;
    animation: color-change-btn 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-details-wrapper {
    background-color: crimson;
    display: flex;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-details-wrapper div p {
    color: white;
}

.cta-text {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.cta-text-small {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

#nav-elems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-elems a {
    margin: 0px 10px 0px 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#nav-elems a:hover {
    color: #FE2B43;
}

a {
    text-decoration: none;
}

#prompt-container {
    font-family: Montserrat;
    position: fixed;
    top: 20vh;
    left: 35vw;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 15px;
    color: white;
    z-index: 100;
    box-shadow: 0px 0px 500px black;
}

#search-bar-wrapper {
    margin-bottom: 8%;
    margin-top: 2%;
}

#searchbar {
    width: 100%;
    border: none;
    height: 35px;
    border-radius: 5px;
    font-family: Montserrat;
    padding: 10px;
}

#logo {
    width: 70px;
}

.skip-btn {
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip-btn:hover {
    background-color: transparent;
}

.submit-btn {
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.submit-btn:hover {
    border: 2px solid white;
    color: crimson;
    background-color: white;
}

#btn-wrapper {
    display: flex;
    justify-content: space-between;
}

